body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.nav-container {
  width: 1140px;
  margin: 0 auto;
}

.nav-tittle {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
li {
  list-style: none;
  margin-top: 20px;
}
a {
  text-decoration: none;
}

.nav-name {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  margin-left: 20px;
}

.basic-color {
  color: #ff42a5;
}
.text-style {
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding-left: 10px;
}
.links {
  display: flex;
}
.social-link {
  margin-right: 50px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 20px 20px;
}
.social-link i {
  margin-right: 7px;
}
span a {
  margin-right: 7px;
}
.header {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

/* Banner Section style */
.banner-container {
  display: flex;
  width: 100%;
}
.banner-container img {
  max-width: 90%;
  height: auto;
  height: 90%;
}
.banner-text {
  padding-top: 80px;
  width: 900px;
  height: 700px;
  flex-shrink: 0;
  background-image: url("images/Group\ 14.png");
  background-repeat: no-repeat;
  max-height: 50%;
}
.banner-text-tittle {
  padding-top: 50px;
  color: #0b0223;
  padding-left: 200px;
  font-size: 48px;
  font-weight: 600;
  line-height: normal;
}
.GOAT {
  padding-left: 190px;
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-discription {
  padding-left: 200px;
}
.banner-discription img {
  padding-right: 10px;
}
.banner-discription button {
  margin-top: 30px;
}
.sign-in {
  border-radius: 48px;
  border: 0;
  background-color: #ff42a5;
  padding: 21px 40px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
}
.go-rogue {
  padding: 21px 40px;
  border: 0;
  border-radius: 48px;
  background: #4ec5f7;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.banner-discription p i {
  padding-right: 10px;
}

/* Second banner Style */
.sec-banner-container {
  display: flex;
  width: 95%;
}
.sec-banner-img {
  max-width: 100%;
  margin-left: 100px;
}
.sec-banner-tittle {
  text-align: right;
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec-banner-description {
  color: #534c64;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
}
.know-more {
  margin-top: 20px;
  margin-left: 260px;
}
.know-more {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 21px 40px;
  gap: 10px;
  border-radius: 48px;
  border: 0;
  background: var(
    --Linear,
    linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
  );
}
.purpose {
  color: #534c64;
  text-align: right;
  font-size: 24px;
  font-weight: 500;
}
.speach {
  color: #534c64;
  text-align: right;
  font-size: 25px;
  font-weight: 700;
}

/* VIDEO SECTION START  */
.image-section-grid {
  text-align: center;
  max-width: 90%;
  margin: 30px auto;
  margin-bottom: 30px;
}
.image-section-des > h1 {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}
.image-section-des > h1 > span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
}
.image-section-des > h6 {
  margin-bottom: 20px;
  color: #534c64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.image-section {
  max-width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.img-btn {
  position: relative;
}
.img-item > figcaption {
  text-align: left;
  color: #534c64;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.img-item1 {
  border-radius: 10px;
  display: none;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5));
  background-repeat: no-repeat;
  background-size: 100%;
  background-blend-mode: overlay;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
}
.img-item1 > span {
  display: block;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-btn:hover .img-item1 {
  display: block;
}
.img-item1 > i {
  font-size: 25px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
}
.img-item > img {
  width: 100%;
}
.img-btn > img {
  width: 100%;
  height: 100%;
  display: block;
}

/* first play section */

.play-section {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.play-sec-des {
  width: 50%;
  text-align: left;
}
.play-sec-des > h2 {
  font-size: 48px;
  font-weight: 700;
  padding: 10px;
}
.play-sec-title {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play-sec-title-des {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.img-box {
  width: 50%;
  text-align: right;
  position: relative;
}
.img-box > img {
  width: 70%;
}
.img-box > div > img {
  width: 40%;
  position: absolute;
  top: 60%;
  left: 10%;
}

/* second play section */
.play-section2 {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-box2 {
  text-align: left;
}
.img-box2 > div > img {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
}

/* Career Section */

.careers-section {
  color: #fff;
  margin: 200px 0;
  background-image: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  max-width: 100%;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.careers_text {
  padding-left: 220px;
}
.careers-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-title {
  color: #fff;
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 0 10px;
}
.section-text-two {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
.item-name {
  color: #fff;
  display: flex;
  font-size: 20px;
  font-weight: 600;
  flex-direction: column;
}
.item-location {
  color: #fff;
  display: flex;
  font-size: 20px;
  font-weight: 600;
  flex-direction: column;
}
.position-btn {
    margin-top: 40px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 48px;
  background: #fff;
  display: inline-flex;
  padding: 25px 45px;
  border: 0;

  color: #ff42a5;


}
