* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: min-content auto min-content;
}
/* Header style start */
.header {
  grid-area: header;
  margin-bottom: 20px;
  padding: 40px 0;
}
.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
}
.head-left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.head-left > img {
  width: 50px;
  height: 30px;
}
.head-left > h1 {
  font-size: 45px;
  font-weight: 700;
  margin-left: 20px;
}
.head-left > h1 > span {
  background-image: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav {
  width: 50%;
}
.nav > ul {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
}
.nav > ul > li {
  padding: 10px 20px;
  border-radius: 10px;
}
.nav > ul > li > a {
  text-decoration: none;
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.li-last {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.li-last > a > .fa-youtube {
  color: #f61c0d;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.li-last > a > .fa-tiktok {
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.main {
  grid-area: main;
}
/* banner section style start */
.banner-section {
  max-width: 90%;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.banner-section-left {
  width: 50%;
  background-image: url("images/Group\ 14.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.ban-title-one {
  color: #0b0223;
  text-align: left;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.ban-title {
  text-align: left;
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  background-image: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.list-item {
  list-style: none;
  margin-top: 20px;
}
.list-item > li {
  color: #534c64;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
  padding: 10px 10px;
}
.fa-solid {
  width: 20px;
  height: 20px;
}
.fa-circle-play,
.fa-download {
  color: #ff42a5;
}
.banner-btn {
  padding: 10px 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 25px;
}
.btn1 {
  background-image: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}
.btn2 {
  background-color: #4ec5f7;
  margin: 20px 20px 0 0;
}
.banner-section-right {
  width: 50%;
}
.banner-section-right > img {
  width: 90%;
  height: 90%;
}

/*banner section two style start */
.banner-section2 {
  max-width: 90%;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.banner-section2-left {
  width: 50%;
}
.banner-section2-left > img {
  width: 100%;
}
.banner-section2-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}
.ban2-title {
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ban2-des {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}
.btn2 {
  margin: 20px 0;
}
.ban2-title2 {
  color: #534c64;
  font-size: 24px;
  font-weight: 500;
  line-height: 45px;
}
.ban2-title2 > span {
  color: #534c64;
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
}

/* image section three style start  */
.image-section-grid {
  text-align: center;
  max-width: 90%;
  margin: 30px auto;
  margin-bottom: 30px;
}
.image-section-des > h1 {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}
.image-section-des > h1 > span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
}
.image-section-des > h6 {
  margin-bottom: 20px;
  color: #534c64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.image-section {
  max-width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.img-btn {
  position: relative;
}
.img-item > figcaption {
  text-align: left;
  color: #534c64;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.img-item1 {
  border-radius: 10px;
  display: none;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5));
  background-repeat: no-repeat;
  background-size: 100%;
  background-blend-mode: overlay;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
}
.img-item1 > span {
  display: block;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-btn:hover .img-item1 {
  display: block;
}
.img-item1 > i {
  font-size: 25px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
}
.img-item > img {
  width: 100%;
}
.img-btn > img {
  width: 100%;
  height: 100%;
  display: block;
}/* play section one  style is start*/
.play-section {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.play-sec-des {
  width: 50%;
  text-align: left;
}
.play-sec-des > h2 {
  font-size: 48px;
  font-weight: 700;
  padding: 10px;
}
.play-sec-title {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play-sec-title-des {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.img-box {
  width: 50%;
  text-align: right;
  position: relative;
}
.img-box > img {
  width: 70%;
}
.img-box > div > img {
  width: 40%;
  position: absolute;
  top: 60%;
  left: 10%;
}
/* play section one style is end*/
/* second play section style is start */
.play-section2 {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-box2 {
  text-align: left;
}
.img-box2 > div > img {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
}
/* second play section style is end */
/* profile link section style is start */
.profile-link {
  max-width: 90%;
  margin: 0 auto;
  margin-top: 180px;
  margin-bottom: 30px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 25px;
}
.profile-link > a {
  color: #0b0223;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  width: auto;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 50px;
}
.profile-link > a > img {
  width: 40px;
}
.profile-link > a:hover {
  border: 2px solid #ff42a5;
  color: #ff42a5;
}

/* footer section style start */
.footer {
  grid-area: footer;
  max-width: 100%;
  padding: 20px 0;
  background-color: #0b0223;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.foot-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.foot-logo > img {
  width: 50px;
  height: 30px;
}
.foot-logo > h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.foot-logo > h3 > span {
  background-image: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.foot-nav-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-column-gap: 30px;
}
.item {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.foot-nav-grid1 {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: center;
  margin-bottom: 10px;
}
.item1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 10px 0;
}
.fa-brands {
  color: white;
}
.nav2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  grid-column-gap: 30px;
  align-items: center;
  margin-bottom: 10px;
}
.nav2 > div > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.footer-container > p {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

